---
import Section from "@components/Section.astro";
import Table from "@components/Table.astro";
import Gallery from "@components/Gallery.astro";
import MediaElement from "./MediaElement.astro";

import data from "@assets/data.json";
---

<main>
  <div class="spacer"></div>
  {
    data.sections.map((section) => (
      <Section
        title={section.title}
        subtitle={section.subtitle}
        text={section.text}
      >
        {section.hasOwnProperty("media") && section.media && (
          <MediaElement
            slot="media"
            path={section.media.path}
            caption={section.media.caption}
          />
        )}
        {section.hasOwnProperty("table") && section.table && (
          <Table slot="table" rows={section.table.rows} />
        )}
        {section.hasOwnProperty("gallery") && (
          <Gallery slot="gallery" media={section.gallery} />
        )}
      </Section>
    ))
  }
</main>

<style>
  main {
    margin: auto;
    max-width: 1024px;
    column-count: 2;
    column-gap: 10%;
    padding: 8rem 2rem;
  }

  .spacer {
    margin-top: 10rem;
  }

  @media screen and (max-width: 768px) {
    main {
      margin: auto;
      max-width: 100%;
      column-count: 1;
      column-gap: 0rem;

      padding: 0 1rem;
    }

    .spacer {
      margin-top: 0;
    }
  }
</style>
